h1{
    color: #ff15ff;
    font-size: 60px;
    font-weight: normal;
    font-family: "Impact";
    text-align: center;
    background-color: black;
    
}
h2{
    color: red;
    font-size: 40px;
    background-color: blue;
    font-family: "Impact";
    text-align: center;
    
}
h3{
    color: yellowgreen;
}
p{
    color: yellow;
    background-color: darkblue;
        
}
body{
    background-image: url(../images/pureadesu.jpeg);
    background-attachment: fixed;
}